/* You can add global styles to this file, and also import other style files */
:host ::ng-deep {
    .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
      display: none;
    }
  }
  
  @media screen and (max-width: 40rem) {
    :host ::ng-deep {
      .p-datatable {
        &.p-datatable-responsive {
          .p-datatable-thead > tr > th,
          .p-datatable-tfoot > tr > td {
            display: none !important;
          }
  
          .p-datatable-tbody > tr > td {
            text-align: left;
            display: block;
            width: 100%;
            float: left;
            clear: left;
            border: 0 none;
  
            .p-column-title {
              padding: .4rem;
              min-width: 30%;
              display: inline-block;
              margin: -.4em 1em -.4em -.4rem;
              font-weight: bold;
            }
  
            &:last-child {
              border-bottom: 1px solid var(--surface-d);
            }
          }
        }
      }
    }
  }
  
  
  body {
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
    height: 100%;
    background-color: #50505066;
  }